.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../images/geometry.jpg"); */
    color : white;
    height :90vh
}

.masukan{
    margin-top : 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.masukan-form{
    margin-bottom: 7rem;
    margin-top: 3rem;
}

.masukan-card{
    width: 40vw;
    height: 55vh
}

.masukan-title{
    font-weight : 1000;
    font-family: 'Source Sans Pro', sans-serif;
    color: #405472;
    text-align: center;
}

.masukan-line{
    border-top: 2px solid #ff6f00;
    width : 25rem;
}

.masukan-line2{
    border-top: 2px solid #ff6f00;
    width : 20rem;
}


.jarak{
    margin-bottom: 2rem;
}

.jarak h6{
    color: black;
    text-align : center
}

.form-control{
    border: 1px solid black !important;
}

.send-succes{
    color : green
}

.send-error{
    color : blue
}