@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Varela+Round&display=swap');

strong {
    color : #405472;
    font-family: 'Varela Round', sans-serif;

    
}

strong:hover {
    color: #697AA5 !important;


}


.span:hover {
    text-shadow: 0px 2px 0px #c4c4c4;
    
}


.brand1 {
    color : #fa26a0;
    font-size: 30px;

}

.logo{
    
    animation-delay: 1s;
    animation: infinite;
    animation-duration: 2s ;
    
}

.logo link{
    text-decoration: none;
}

.brand2 {
    color: #05dfd7
}

.navbar:hover {
    box-shadow: 2px 2px 50px #2e2b28;
   
}

.nav-link {
    font-size: 20px !important;
   
    
}


.anmia{
    animation: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    /* className="animated fadeInRight" style={{animationDuration: "2s",animationDelay:"1s"}} */
}